@import "poster-size";
@import "color";

html {
  font-size: 6.25%;
}

body {
  overflow: hidden;
  font-size: 64rem;
  line-height: 1.4;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: $A0-w;
  // A0 poster
  height: $A0-h - 1mm; // to fit papaer size
  background-color: $white;
}
