@import "poster-size";

body {
  font-size: 64px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wapper {
  height: $A0-h - 1mm; // to fit papaer size
  width: $A0-w;
  background-color: #fff;
}